nav {
    height: 75px;
    max-width: var(--max-width);
    padding: 0 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__left,
.nav__right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__logo {
    width: 100px;
  }

  .nav__left span a,
.nav__right i {
  color: var(--text-light);
  font-size: 1rem;
  transition: 0.3s;
}

.nav__left span a:hover,
.nav__right i:hover {
  color: var(--extra-light);
  cursor: pointer;
}

.nav__user {
    width: 2rem;
    border-radius: 100%;
  }