/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@400;600;700;800&display=swap");

:root {
  --primary-color: #e50914;
  --primary-color-dark: #bb0811;
  --secondary-color: #000000;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;

  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  /* font-family: 'Merriweather', serif; */
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
  color: var(--extra-light);
}

@media (width < 900px) {
  header {
    flex-direction: column;
  }

  .cover {
    height: 600px;
  }
}

@media (width < 500px) {
  .next__episodes {
    flex-direction: column;
  }

  .episode__card {
    width: 100%;
  }
}